<body>

    <div class=" card card-login mx-auto mt-3 col-sm-12 col-md-8  col-xl-4">
        <img class="rounded mx-auto d-block img-responsive mt-2 mb-4 col-md-12 col-sm-12 " col-md-12
            alt="Responsive image " src="/assets/portada.jpg">
        <div class="card-header card-header ">Inicio de Sesión</div>
        <div class="card-body " routerLinkActive="active ">
            <form>
                <div class="form-group ">
                    <div class="form-label-group ">
                        <input id="inputEmail" type="text " name="inputEmail" class="form-control "
                            placeholder="Ingreso su Id de Usuario " required="required " autofocus="autofocus " #username>
                        <label for="inputEmail">Usuario</label>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="form-label-group ">
                        <input id="password" type="password " name="clave " class="form-control " placeholder="Contraseña "
                            required="required" #password>
                        <label for="password">Contraseña</label>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="checkbox ">
                        <label>
                            <input type="checkbox" value="remember-me ">
                            Recordar Contraseña
                        </label>
                    </div>
                </div>
                <button type="button" class="btn btn-dark btn-block mt-1" [routerLink]="[ '/home'] "
                    (click)=auhtenticate(username.value,password.value) name=" enviar ">Ingresar</button>
                <br>
                <a href="#" class="fblogin social"><i class="fa fa-facebook"></i><span>Sign in with Facebook</span></a>
                <a href="#" class="twlogin social"><i class="fa fa-twitter"></i><span>Sign in with Twitter</span></a>
                <a href="#" class="gplogin social"><i class="fa fa-google-plus"></i><span>Sign in with Google</span></a>
            </form>
            <div class="text-center ">
                <a class="d-block small mt-3 " href="register.html ">Registrarse</a>
                <a class="d-block small " href="forgot-password.html ">Olvido contraseña?</a>
            </div>
        </div>
    </div>



</body>
