<body>

<div class="overflow-auto">
  <ng-template #template>
    <div class="modal-header bg-dark">
      <h4 class="modal-title pull-left text-white ">Edit</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close"
              (click)="modalEditar?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-row form">
          <div class="form-group col-md-2">
            <label for="">Id</label>
            <input type="text" readonly class="form-control col" value="{{xEvent.id}}" placeholder="Id"
                   #id>
          </div>
          <div class="form-group-sm col-md-12">
            <label for="">Type</label>
            <input type="text" autofocus="true" value="{{xEvent.name}}" class="form-control" value
                   placeholder="Type" #type>
          </div>
          <div class="form-group-sm col-md-12">
            <label for="">Brand</label>
            <input type="text" autofocus="true" value="{{xEvent.location}}" class="form-control" value
                   placeholder="Brand" #brand>
          </div>
          <div class="form-group-sm col-md-12">
            <label for="">Color</label>
            <input type="text" autofocus="true" value="{{xEvent.date}}" class="form-control" value
                   placeholder="Color" #color>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark col-md-2" data-dismiss="modal"
              (click)=update(id.value,type.value,brand.value,color.value)>Update
      </button>
      <button type="button" class="btn btn-outline-dark col-md-2" data-dismiss="modal"
              (click)="modalEditar?.hide()">Cancel</button>
    </div>

  </ng-template>

  <!--Modal create-->
  <ng-template #templateCreate>
    <div class="modal-header bg-dark">
      <h4 class="modal-title pull-left text-white ">Create</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close"
              (click)="modalCrear?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-row form">
          <div hidden class="form-group col-md-2">
            <label for="">Id</label>
            <input type="text" readonly class="form-control col" value="{{event.id}}"
                   placeholder="Id" #id2>
          </div>
          <div class="form-group-sm col-md-12">
            <label for="">Name</label>
            <input type="text" autofocus="true" value="{{event.name}}" class="form-control" value
                   placeholder="Type" #type2>
          </div>
          <div class="form-group-sm col-md-12">
            <label for="">Location</label>
            <input type="text" autofocus="true" value="{{event.location}}" class="form-control" value
                   placeholder="Brand" #brand2>
          </div>
          <div class="form-group-sm col-md-12">
            <label for="">Date</label>
            <input type="text" autofocus="true" value="{{event.date}}" class="form-control" value
                   placeholder="Color" #color2>
          </div>
          <div class="form-group-sm col-md-12">
            <label for="">IsCompetition</label>
            <input type="text" autofocus="true" value="{{event.competition}}" class="form-control" value
                   placeholder="Color" #color2>
          </div>
          <div class="form-group-sm col-md-12">
            <label for="">Prize</label>
            <input type="text" autofocus="true" value="{{event.prize}}" class="form-control" value
                   placeholder="Color" #color2>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark col-md-2" (click)="modalCrear?.hide()"
              (click)=create(type2.value,brand2.value,color2.value)>Save</button>
      <button type="button" class="btn btn-outline-dark col-md-2" (click)="modalCrear?.hide()">Cancel</button>
    </div>
  </ng-template>
  <div id="content" class="container-fluid">
    <div class="container-fluid">
      <ol class="breadcrumb mt-2">
        <li class="breadcrumb-item">
          <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item active">Bicycles</li>
      </ol>
      <div class="row">
        <div class="container-fluid">
          <div class="card animated fadeIn fast">
            <div class="card-header">
              <button type="button" class="btn btn-outline-dark col-md-2 col-xl-1 m-1"
                      data-toggle="modal" data-target="#modalCreate"
                      (click)="openModalCreate(templateCreate)">Create</button>
              <button type="button" class="btn btn-outline-dark col-md-2 col-xl-1 "
                      (click)="getAll()">Refresh</button>

            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-sm-12 table-hover">
                <thead>
                <tr>
                  <th class="text-md-center col-sm col-md-1">Id</th>
                  <th class="text-md-left col-sm col-md-2">Name</th>
                  <th class="text-md-left col-sm col-md-2">Location</th>
                  <th class="text-md-left col-sm col-md-2">Date</th>
                  <th class="text-md-center col-sm col-md-2">Is Competition</th>
                  <th class="text-md-left col-sm col-md-2">Prize</th>
                  <th class="text-md-center col-sm col-md-2"></th>

                  <th WIDTH="0%"> </th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let event of listEvent">

                  <td class="text-md-center ">{{event.id}}</td>
                  <td class="text-md-left col-sm-3 col-md-2">{{event.name}}</td>
                  <td class="text-md-left col-sm-3 col-md-2">{{event.location}}</td>
                  <td class="text-md-left col-sm-3 col-md-2">{{event.date | date:'dd/MM/yyyy'}}</td>
                  <td class="text-md-center col-sm-3 col-md-2">{{event.competition}}</td>
                  <td class="text-md-left col-sm-3 col-md-2">{{event.prize| currency}}</td>
                  <td class="text-md-center">

                    <div class="btn-group" dropdown>
                      <button id="button-basic" dropdownToggle type="button"
                              class="btn btn-sm btn-outline-dark btn-group-sm"
                              aria-controls="dropdown-basic">
                        <i class="fa fa-bars"></i>
                      </button>
                      <div id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                           role="menu" aria-labelledby="button-basic">
                        <button class="dropdown-item" role="menuitem" type="button"
                                (click)="openModal(template,event.id)"><i
                          class="fa fa-edit"> </i>Edit
                        </button>
                        <button class="dropdown-item" role="menuitem" type="button"><i
                          class="fa fa-trash"></i> Delete
                        </button>
                      </div>
                    </div>
                  </td>
                  <td class="text-md-center col-md-4">
                </tr>
                </tbody>
              </table>
            </div>
            <div class="card-tools">

              <ul class="pagination pagination-sm float-sm-left ml-1">
                <li class="page-item"><a class="page-link text-dark" href="#">&laquo;</a></li>
                <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
                <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
                <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
                <li class="page-item"><a class="page-link text-dark" href="#">&raquo;</a></li>
              </ul>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>
</body>
